<html ng-app="DistributeMeProject">
<head>
    <title>DistributeMeProject</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="~/css/style.css" rel="stylesheet"/>
    <base href="/" />
</head>
<body ng-controller="AccountController as account">

<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button> <a class="navbar-brand" href="#">Distribute.Me</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a ui-sref="home">Home</a>
                    </li>
                    <li>
                        <a ui-sref="about">About</a>
                    </li>
                    <li ng-show="account.getClaim('isRestaurant')">
                        <div ng-show="account.isLoggedIn()">
                                <a ui-sref="restaurant">Restaurant</a>
                            </div>
                    </li>
                    <li ng-show="account.getClaim('isDistributor')">
                        <span ng-show="account.isLoggedIn()">
                                <a ui-sref="distributor">Distributor</a>
                            </span>
                    </li>
                    <li>
                        <a ui-sref="login" ng-show="!account.isLoggedIn()">Log In</a>
                    </li>
                    <li>
                        <a ui-sref="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Log Out "{{account.getUserName()}}"</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<ui-view></ui-view>
  
<!-- Library Files -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-touch/angular-touch.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<!-- App Files-->
<script src="/ngapp/app.js"></script>
<script src="/ngapp/controllers/controllers.js"></script>
<script src="/ngapp/services/services.js"></script>


<!-- Security -->
<script src="/ngapp/controllers/accountcontroller.js"></script>
<script src="/ngapp/services/accountservice.js"></script>

</body>
</html>
