<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <div class="jumbotron">
                <h2>
                    Distributors!
                </h2>
                <p>
                    It's now easier than ever to promote your products and connect with restaurants!
                </p>
                <p>
                    <a class="btn btn-primary btn-large" ui-sref="distributor">Add Your Distributor!</a>
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="jumbotron">
                <h2>
                    Restaurants!
                </h2>
                <p>
                    The hassle of ordering products one by one, distributor by distributor at a time is no more!
                </p>
                <p>
                    <a class="btn btn-primary btn-large" ui-sref="restaurant">Add Your Restaurant!</a>
                </p>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <blockquote>
                <p>
                    Distribute.Me is has truly revolutionized the way resataurants and distributors communicate.
                </p> <small>Forbes<br/><cite>Best Idea Ever</cite></small>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote>
                <p>
                    Distribute.Me is the newest grounbreaking idea making it easier for restaurants to order products and manage inventory!
                </p> <small>Business Insider<br/><cite>Up And Coming!</cite></small>
            </blockquote>
        </div>
        <div class="col-md-3">
            <blockquote>
                <p>
                    If there was ever a time to buy shares in Distribute.Me, its right now! This company is red hot!
                </p> <small>Bloomberg<br/><cite>Buy, Buy, Buy!</cite></small>
            </blockquote>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <ui-view></ui-view>
</div>